@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*VAR*/
:root {
  --black: #726868;
  --gray: #afaaaa;
  --lightgray: #d9d9d9;
  --dark-black: #272727;
}
/*FIN VAR*/

/*GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
svg {
  fill: var(--black);
}
/*FIN GENERAL*/

/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 0 1.5rem;
}
header .logo {
  height: 5rem;
  width: 8rem;
  background-image: url("../resc/logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header nav svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2rem;
  fill: var(--lightgray);
}
/*FIN HEADER*/

/*SECTION HERO*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-info {
  height: 20rem;
  width: 70%;
  border: 3px solid;
  border-radius: 40px 0px 40px 0px;
  position: absolute;
  z-index: 2;
  border-color: var(--lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-info h1 {
  color: var(--lightgray);
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1rem;
  z-index: 1;
}
.hero .hero-video-overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 30rem;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.hero .hero-video {
  width: 100%;
  height: 30rem;
  position: relative;
  object-fit: cover;
}
/*END HERO*/

/*SECTION INTRO*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem;
}
.intro h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: #afaaaa;
  background: linear-gradient(to top, #afaaaa 0%, #726868 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem auto;
}
.intro ul li svg {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
}
.intro ul li h3 {
  width: 100%;
  text-align: center;
}
/*FIN SECTION INTRO*/

/*SECTION CONOCENOS*/
.conocenos {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10%;
  text-align: center;
}
.conocenos h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: #afaaaa;
background: linear-gradient(to top, #afaaaa 0%, #726868 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/*FIN SECTION CONOCENOS*/

/*SECTION ELEGINOS*/
.eleginos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem;
}
.eleginos h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: #afaaaa;
background: linear-gradient(to top, #afaaaa 0%, #726868 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.eleginos ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem auto;
}
.eleginos ul li svg {
  height: 2rem;
  width: 2rem;
}
.eleginos ul li h3 {
  width: 100%;
  margin-left: 1rem;
}
/*FIN SECTION ELEGINOS*/

/*SECTION SERVICIOS*/
.servicios {
  background-color: var(--lightgray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 10%;
}
.servicios h2 {
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: #afaaaa;
background: linear-gradient(to top, #afaaaa 0%, #726868 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.servicios ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem auto;
}
.servicios ul li h3 {
  margin-left: 0.5rem;
}
/*FIN SECTION SERVICIOS*/

/*FOOTER*/
footer {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}
footer .logo-footer {
  background-image: url("../resc/logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
footer .redes-sociales {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 4rem auto;
}
footer .redes-sociales svg {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.3rem;
  fill: var(--lightgray);
}
footer .creditos {
  background-color: var(--dark-black);
  width: 100%;
  padding: 0.3rem;
}
footer .creditos p {
  color: var(--gray);
  text-align: center;
  font-size: 0.9rem;
}
/*END FOOTER*/

/*ANIMACIONES*/
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
/*END ANIMACIONES*/